{% extends "base.html" %}

{% block message %}
{% endblock %}

{% block main %}
<div id="lost-password">
	<div class="message"><h2>忘记密码</h2><p>按照以下简单的步骤重置您的帐户：</p><ol><li>输入您的 <strong>MachLab</strong> 电子邮件地址</li><li>请稍候，恢复详细信息一会儿会发送给您</li><li>按照说明操作并与您的 <strong>MachLab</strong> 帐户保持一致</li></ol></div>

    <form name="lostpasswordform" id="lostpasswordform" action="" method="post">
	    <p>
		    <label for="user-login">电子邮件地址<br>
		    <input name="user-login" id="user_login" class="input" value="" size="20" type="text"></label>
	    </p>
	    <p class="submit">
            <input name="submit" id="submit" class="button button-primary button-large" value="获取新密码" type="submit">
        </p>
    </form>

    <p id="nav">
        <a href="{% url 'login'%}">登录</a>
        <a class="click-register" href="{% url 'register'%}">注册</a>
    </p>
    <p id="back-to-index"><a href="{% url 'index'%}">← 返回到 MachLab 首页 </a></p>
	
</div>
{% endblock %}