<div class="position-relative">
    <div class="mt-4">
        <div class="js-pinned-repos-reorder-container">
            <h2 class="f4 mb-2 text-normal">
                Popular models
                <span class="ml-2 text-gray f6 js-pinned-repos-reorder-message" role="status" aria-live="polite" data-error-text="Something went wrong." data-success-text="Order updated."></span>
            </h2>

            <ol class="pinned-repos-list mb-4">
                {% for model in models %}
                <li class="pinned-repo-item p-3 mb-3 border border-gray-dark rounded-1 public fork">
                    <span class="pinned-repo-item-content">
                        <span class="d-block">
                            <a href="/models/{{username}}/{{model.model_name}}" class="text-bold">
                                <span class="repo js-repo" title="{{model.model_name}}">{{model.model_name}}</span>
                            </a>
                        </span>

                        <p class="text-gray text-small mb-2">Recently modified at {{model.modified_datetime}}</p>

                        <p class="pinned-repo-desc text-gray text-small d-block mt-2 mb-3">{{model.description}}</p>

                        <p class="mb-0 f6 text-gray">
                            <span class="repo-language-color pinned-repo-meta" style="background-color:#f34b7d;"></span>
                            {{model.model_type}}
                        </p>
                    </span>
                </li>
                {% empty %}
                <div class="blankslate mt-5">
                    <!--<svg height="32" class="octicon octicon-star blankslate-icon" viewBox="0 0 14 16" version="1.1" width="28" aria-hidden="true"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>-->
                    <h4>He/She doesn’t have any models yet.</h4>
                </div>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>