<div class="profile-main main" >
    <div class="profile-container">
        <div class="profile">
            <div class="profile-form-header-wrapper">
                <div class="Subhead mt-0 mb-0">
                    <h2 class="Subhead-heading">个人信息概览</h2>
                </div>
                {% if updateInvalid %}
                <div class="flash flash-full ">更改用户信息失败！</div>
                {% endif %}
            </div>
            
            <hr />

            <form role="form" action="" method="post" enctype="multipart/form-data">
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="field profile-form-username">
                                <label for="id_username">用户名</label>
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>

                            <div class="field profile-form-email">
                                <label for="id_email">电子邮件地址</label>
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>

                            <div class="field profile-form-bio">
                                <label for="id_bio">个人简介</label>
                                {{ form.bio }}
                                {{ form.bio.errors }}
                            </div>

                            <div class="field profile-form-url Subhead ">
                                <label for="id_url">URL</label>
                                {{ form.url }}
                                {{ form.url.errors }}
                            </div>

                            <div class="field profile-form-location mb-2 ">
                                <label for="id_location">位置</label>
                                {{ form.location }}
                                {{ form.location.errors }}
                            </div>

                            <div class="profile-form-action"><br />
                                <button type="submit" class="btn btn-primary">提交更改</button>
                            </div>

                            <div class="profile-form-next">
                                <input type="hidden" name="next" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 column">
                    <label for="upload-profile-picture" class="mb-2">头像</label>
                        <div class="field profile-form-avatar">
                            <img class="avatar rounded-2 mb-2" src="/static/media/{{request.user.userinfo.avatar}}" alt="avatar" />
                            {{ form.avatar }}
                            {{ form.avatar.errors }}
                        </div>
                    </div>
                </div>
                    
            </form>
        </div>
    </div>
</div>
