<div class="col-9 float-left">
    <div class="Subhead border-bottom-0">
        <h2 class="Subhead-heading">MachLab Apps</h2>
    </div>
    
    <hr />

    <div class="tabnav">
      <nav class="tabnav-tabs" aria-label="Application settings">
        <a class="js-selected-navigation-item selected tabnav-tab" data-selected-links="integration_installations /settings/installations" href="">Installed Apps</a>
      </nav>
    </div>

    <p>
    MachLab APPs utilize opensource to help enrich your workflow.
    </p>
</div>