{% extends "base.html" %}

{% block message %}
{% endblock %}

{% block main %}
<div role="main" class="application-main ">
    <div id="js-pjax-container" data-pjax-container="">
        <div class="container mt-4">
            <div class="columns">
                <div class="column one-fourth">
                    <nav class="menu border" data-pjax="">
                    <a class="menu-item selected" href="/search?q={{q}}&amp;type=Models">Models<span class="Counter ml-1 mt-1">{{result_model_count}}</span></a>
                    <a class="menu-item " href="/search?q={{q}}&amp;type=Modelfiles">Filename<span class="Counter ml-1 mt-1">{{result_modelfile_count}}</span></a>
                    <a class="menu-item " href="/search?q={{q}}&amp;type=Commits">Commits<span class="Counter ml-1 mt-1">{{result_commit_count}}</span></a>
                    <a class="menu-item " href="/search?q={{q}}&amp;type=Users">Users<span class="Counter ml-1 mt-1">{{result_user_count}}</span></a>
                    </nav>
                </div>

                <div class="column three-fourths codesearch-results">
                    <div class="pl-2">
                        <div class="d-flex flex-justify-between border-bottom pb-3">
                            {% if type == 'Models' %}
                                <h3>{{result_model_count}} model results</h3>
                            {% elif type == 'Modelfiles' %}
                                <h3><span class="d-inline-block v-align-middle">Showing {{result_modelfile_count}} available file results</span></h3>
                            {% elif type == 'Commits' %}
                                <h3>{{result_issue_count}} commits</h3>
                            {% elif type == 'Users' %}
                                <h3>{{result_user_count}} users</h3>
                            {% endif %}
                        </div>
                        
                        {% if type == '' or type == 'Models' %}
                        <ul class="repo-list">
                            {% for model in models %}
                            <div class="repo-list-item d-flex flex-justify-start py-4 public source">
                                <div class="col-8 pr-3">
                                    <h3>
                                        <a class="v-align-middle" href="/models/{{model.user.username}}/{{model.model_name}}">{{model.model_name}}</a>
                                    </h3>

                                    <p class="col-9 d-inline-block text-gray mb-2 pr-4">
                                    {{model.description}}
                                    </p>

                                    <div class="d-flex">
                                        <p class="f6 text-gray mr-3 mb-0 mt-2">
                                        Updated <relative-time datetime="{{model.modified_datetime}}" title="{{model.modified_datetime}}">on {{model.modified_datetime}}</relative-time>
                                        </p>
                                    </div>
                                </div>

                                <div class="d-table-cell col-2 text-gray pt-2">
                                    <span class="repo-language-color ml-0" style="background-color:#f1e05a;"></span>
                                    {{model.model_type}}
                                </div>

                                <div class="col-2 text-right pt-1 pr-3 pt-2">
                                    <span class="muted-link" href="">
                                        <svg aria-label="star" class="octicon octicon-star" viewBox="0 0 14 16" version="1.1" width="14" height="16" role="img"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>
                                        {{model.star_count}}
                                    </span>
                                </div>
                            </div>
                            {% empty %}
                            <div class="blankslate">
                                <svg height="32" class="octicon octicon-search blankslate-icon" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path></svg>
                                <h3>
                                We couldn’t find any model matching '{{q}}'
                                </h3>
                                You could try an <a href="/search?q={{q}}&type={{recommend}}">{{recommend}} search</a>.
                            </div>
                            {% endfor %}
                        </ul>

                        {% elif type == 'Modelfiles' %}
                        <div id="code_search_results">
                            <div class="code-list">
                                {% for modelfile in modelfiles %}
                                <div class="code-list-item col-12 py-4 code-list-item-public ">
                                    <a href="/{{modelfile.model.user.username}}"><img class="avatar d-inline-block mr-2" src="/static/media/{{modelfile.model.user.userinfo.avatar}}" alt="@{{modelfile.model.user.username}}" width="32" height="32"></a>

                                    <div class="d-inline-block col-10">
                                        <a class="text-bold" href="/models/{{modelfile.model.user.username}}/{{modelfile.model.model_name}}">{{modelfile.model.user.username}}/{{modelfile.model.model_name}}</a>
                                        –
                                        <a title="{{modelfile.filename}}" href="/models/{{modelfile.model.user.username}}/{{modelfile.model.model_name}}/{{modelfile.filename}}">{{modelfile.filename}}</a>
                                        <div class="mb-2">
                                            <span class="text-small text-gray match-count mr-2">Showing the top match</span>
                                            <span class="f6 text-gray updated-at">Last modified <relative-time datetime="{{modelfile.modified_datetime}}" title="{{modelfile.modified_datetime}}">on {{modelfile.modified_datetime}}</relative-time></span>
                                        </div>
                                    </div>

                                    <div class="file-box blob-wrapper">
                                        <table class="highlight">
                                            <tbody>
                                                {% for line_number in model.line_numbers %}
                                                <tr>
                                                    <td class="blob-num"><a href="/models/{{modelfile.model.user.username}}/{{modelfile.model.model_name}}/{{modelfile.filename}}#L{{modelfile.line_number}}">{{modelfile.line_number}}</a></td>
                                                    <td class="blob-code blob-code-inner">+<em>{{q}}</em></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="blankslate">
                                    <svg height="32" class="octicon octicon-search blankslate-icon" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path></svg>
                                    <h3>
                                    We couldn’t find any file matching '{{q}}'
                                    </h3>
                                    You could try an <a href="/search?q={{q}}&type={{recommend}}">{{recommend}} search</a>.
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        {% elif type == 'Commits' %}
                        <div id="commit_search_results">
                            {% for commit in commits %}
                            <div class="commit commits-list-item js-navigation-item js-details-container Details py-4">
                                <div class="d-flex">
                                    <div class="col-9">
                                        <p class="commit-title  h5 mb-1 text-gray-dark">
                                            <span title="{{q}}" class="message" data-pjax="true" href=""><em>{{q}}</em></span>
                                        </p>

                                        <div class="commit-meta commit-author-section d-flex flex-items-center mt-1">   
                                            <div class="AvatarStack flex-self-start ">
                                                <div class="AvatarStack-body" aria-label="{{commit.user.username}}">
                                                    <a class="avatar" data-skip-pjax="true" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="/{{commit.user.username}}" aria-describedby="hovercard-aria-description">
                                                        <img alt="@{{commit.user.username}}" src="/static/media/{{commit.user.userinfo.avatar}}" width="20" height="20">
                                                    </a>  
                                                </div>
                                            </div>

                                            <div>        
                                                <a href="/{{commit.user.username}}" class="commit-author tooltipped tooltipped-s user-mention" aria-label="View all commits by dnklgr">{{commit.user.username}}</a>
                                                committed to <a href="/models/{{commit.user.username}}/{{commit.model.model_name}}">{{commit.user.username}}/{{commit.model.model_name}}</a>
                                                <relative-time datetime="{{commit.commit_datetime}}" title="{{commit.commit_datetime}}">on {{commit.commit_datetime}}</relative-time>
                                                <div class="commit-indicator d-inline-block">          
                                                    <div class="commit-build-statuses">
                                                        <span class="text-green tooltipped tooltipped-e" aria-label="Success: Successfully built your site.">
                                                            <svg class="octicon octicon-check v-align-middle" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="blankslate">
                                <svg height="32" class="octicon octicon-search blankslate-icon" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path></svg>
                                <h3>
                                We couldn’t find any commit matching '{{q}}'
                                </h3>
                                You could try an <a href="/search?q={{q}}&type={{recommend}}">{{recommend}} search</a>.
                            </div>
                            {% endfor %}
                        </div>

                        {% elif type == 'Users' %}
                        <div id="user_search_results">
                            <div class="user-list">
                                {% for user in users %}
                                <div class="user-list-item f5 py-4">
                                    <div class="d-flex">
                                        <a class="d-table" href="/{{user.username}}" aria-describedby="hovercard-aria-description">
                                            <img class="avatar position-relative" src="/static/media/{{user.userinfo.avatar}}" alt="@{{user.username}}" width="48" height="48">
                                        </a>
                                        
                                        <div class="user-list-info ml-2">
                                            {% if user.userinfo.bio %}
                                            <p class="f5 mt-2">
                                                {{user.userinfo.bio}}
                                            </p>
                                            {% endif %}
                                            
                                            {% if user.userinfo.location or user.email %}
                                            <ul class="user-list-meta d-flex f6 list-style-none text-gray mt-2">
                                                {% if user.userinfo.location %}
                                                <li class="mr-3">
                                                    <svg class="octicon octicon-location" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                                                    {{user.userinfo.location}}
                                                </li>
                                                {% endif %}
                                                {% if user.email %}
                                                <li class="mr-3">
                                                    <svg class="octicon octicon-mail" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z"></path></svg>
                                                    <a class="muted-link" href="mailto:{{user.email}}">{{user.email}}</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="blankslate">
                                    <svg height="32" class="octicon octicon-search blankslate-icon" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path></svg>
                                    <h3>
                                    We couldn’t find any user matching '{{q}}'
                                    </h3>
                                    You could try an <a href="/search?q={{q}}&type={{recommend}}">{{recommend}} search</a>.
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}