{% extends "base.html" %}

{% block message %}
{% endblock %}

{% block main %}
    <link rel="stylesheet" type="text/css" href="/static/css/account-style.css">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4 column">
            </div>
            <div class="col-md-4 column">
                <img height="140" width="140" src="/static/img/logo.png" class="img-responsive center-block" />
                <h3 class="text-center">忘记密码</h3>
                <div class="auth-form-body mt-3">
                    <div class="message">
                        <p>按照以下简单的步骤重置您的帐户：</p>
                        <ul>
                            <li>输入您的 <strong>MachLab</strong> 电子邮件地址</li>
                            <li>请稍候，恢复详细信息一会儿会发送给您</li>
                            <li>按照邮件信息与您的 <strong>MachLab</strong> 帐户保持一致</li>
                        </ul>
                    </div>

                    <form name="lostpasswordform" id="lostpasswordform" action="" method="post">
                        <div class="form-group">
                        <label for="user-login">电子邮件地址</label>
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <p class="submit">
                            <input name="submit" id="submit" class="btn btn-primary btn-block" value="获取新密码" type="submit">
                        </p>
                    </form>

                    <p id="nav">
                        <a href="{% url 'login'%}">登录</a>
                        <a class="click-register" href="{% url 'register'%}">注册</a>
                        <a href="{% url 'index'%}" class="label-link">← 返回到 MachLab 首页 </a>
                    </p>
                </div>
                <div class="col-md-4 column">
                </div>
            </div>
        </div>
    </div>
{% endblock %}