.repohead.experiment-repo-nav {
    padding-bottom: 0;
    background-color: #fafbfc;
}

.reponav-item .Counter {
    color: #444d56;
}

.js-selected-navigation-item .Counter {
    color: #444d56;
}

.Counter {
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #586069;
    background-color: rgba(27,31,35,0.08);
    border-radius: 20px;
}

.overall-summary-bottomless {
    margin-bottom: 0;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}

.overall-summary {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #dfe2e5;
    border-radius: 3px;
}

.stats-switcher-viewport {
    height: 41px;
    overflow: hidden;
}

.stats-switcher-wrapper {
    position: relative;
    top: 0;
    transition: top 0.25s ease-in-out;
}

.numbers-summary {
    display: table;
    width: 100%;
    table-layout: fixed;
}

    .numbers-summary li {
        display: table-cell;
        padding: 0;
        text-align: center;
        white-space: nowrap;
    }

    .numbers-summary a, .numbers-summary .nolink {
        display: block;
        padding: 10px 0;
        color: #586069;
        text-decoration: none;
    }

.repository-lang-stats {
    position: relative;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

.btnM-sm {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
}

.btnM {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.btnM {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.file-navigation .branch-select-menu {
    margin-right: 6px;
    margin-bottom: 10px;
}

.file-navigation.in-mid-page {
    margin-top: 15px;
}

.d-flex {
    display: flex !important;
}

.flex-items-start {
    align-items: flex-start !important;
}

.file-navigation .breadcrumb {
    float: left;
    margin-top: 0;
    margin-left: 5px;
    font-size: 16px;
    line-height: 26px;
}

.flex-auto {
    flex: 1 1 auto !important;
}

.breadcrumb {
    margin-bottom: 10px;
    font-size: 18px;
    color: #586069;
    background-color: #fff;
}

.commit-tease {
    position: relative;
    padding: 10px;
    margin-bottom: -1px;
    font-size: 13px;
    line-height: 20px;
    color: #586069;
    background-color: #f1f8ff;
    border: 1px solid #c8e1ff;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.d-flex {
    display: flex !important;
}

.file-wrap {
    margin-bottom: 10px;
    border: 1px solid #dfe2e5;
    border-top-color: rgb(223, 226, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

table.files {
    width: 100%;
    background: #fff;
    border-radius: 2px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

    table.files td.icon {
        width: 17px;
        padding-right: 2px;
        padding-left: 10px;
        color: rgba(3,47,98,0.55);
    }

    table.files td {
        padding: 6px 3px;
        line-height: 20px;
        border-top: 1px solid #eaecef;
    }

        table.files td.content {
            max-width: 180px;
        }

        table.files td.message {
            max-width: 442px;
            padding-left: 10px;
            overflow: hidden;
            color: #6a737d;
        }


        table.files td.message {
            max-width: 442px;
            padding-left: 10px;
            overflow: hidden;
            color: #6a737d;
        }

        table.files td.age {
            width: 125px;
            padding-right: 10px;
            color: #6a737d;
            text-align: right;
            white-space: nowrap;
        }

.file-wrap .include-fragment-error {
    display: none;
}

.warning {
    padding: .5em;
    margin-bottom: 0.8em;
    font-weight: 600;
    background-color: #fffbdd;
}

.mb-1 {
    margin-bottom: 4px !important;
}

.mb-0 {
    margin-bottom: 20px !important;
}

.file-header {
    padding: 5px 10px;
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
}

.file-navigation .breadcrumb {
    float: left;
    margin-top: 0;
    margin-left: 5px;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
}

.file-navigation .breadcrumbMF {
    float: left;
    margin-top: 0;
    margin-left: 5px;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
}

.breadcrumbMF {
    margin-bottom: 10px;
    font-size: 18px;
    color: #586069;
}

a {
    color: #0366d6;
    text-decoration: none;
}

.breadcrumbMF .repo-root {
    font-weight: 600;
}

.tab-size[data-tab-size="8"] {
    tab-size: 8;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.file {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.blob-num {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px;
    line-height: 20px;
    color: rgba(27,31,35,0.3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-info-divider {
    display: inline-block;
    width: 1px;
    height: 18px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: middle;
    background-color: #ddd;
}

.float-right {
    float: right !important;
}

.btnCo-primary {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.btnCo {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.rounded-1 {
    border-radius: 3px !important;
}

img {
    border-style: none;
}

.timeline-comment-header-text {
    max-width: 78%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-normal {
    font-weight: 400 !important;
}

.f5 {
    font-size: 14px !important;
}

.timeline-comment.current-user .timeline-comment-header {
    background-color: #f1f8ff;
    border-bottom-color: #c0d3eb;
}

.timeline-comment-header {
    padding-right: 15px;
    padding-left: 15px;
    color: #586069;
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

svg:not(:root) {
    overflow: hidden;
}

.octicon {
    vertical-align: text-bottom;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}


.gh-header-actions {
    float: right;
    margin-top: 3px;
}


.text-normal {
    font-weight: 400 !important;
}

.f5 {
    font-size: 14px !important;
}

.timeline-comment-wrapper {
    position: relative;
    padding-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.timeline-comment-header-text {
    max-width: 78%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.timeline-comment-header .timestamp {
    color: inherit;
    white-space: nowrap;
}

.timeline-comment-header {
    padding-right: 15px;
    padding-left: 15px;
    color: #586069;
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.timeline-comment.current-user {
    border-color: #c0d3eb;
}

.timeline-comment {
    position: relative;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

* {
    box-sizing: border-box;
}

.tooltipped {
    position: relative;
}

.btnIS-link {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    color: #0366d6;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.rounded-1 {
    border-radius: 3px !important;
}

img {
    border-style: none;
}

.repohead.experiment-repo-nav {
    padding-bottom: 0;
    background-color: #fafbfc;
}

.float-right {
    float: right !important;
}

.pagehead {
    position: relative;
    margin-top: -18px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.btnIS {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btnIS {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.btnIS-primary {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.btnIS-with-count {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btnIS-sm {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
}

svg:not(:root) {
    overflow: hidden;
}

.pagehead ul.pagehead-actions {
    position: relative;
    z-index: 31;
    float: right;
    margin: 0;
    list-style: none;
}

.pagehead ul.pagehead-actions li {
    display: inline-block;
}

.social-count {
    float: left;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(27,31,35,0.2);
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

    .social-count:hover {
        color: #0366d6;
        cursor: pointer;
    }

    .social-count:hover, .social-count:active {
        text-decoration: none;
    }

a {
    color: #0366d6;
    text-decoration: none;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.Counter {
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #586069;
    background-color: rgba(27,31,35,0.08);
    border-radius: 20px;
}

.reponav-item .Counter {
    color: #444d56;
}

b, strong {
    font-weight: 600;
}

.repohead h1 {
    position: relative;
    float: left;
    max-width: 635px;
    padding-left: 18px;
    font-size: 18px;
    line-height: 26px;
    color: #586069;
}

.pagehead h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.repohead .repohead-details-container {
    margin-bottom: 0px;
}

.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.timeline-comment-action {
    display: inline-block;
    padding: 10px 5px;
    color: inherit;
    opacity: 0.5;
}

.timeline-comment-actions {
    float: right;
    margin-right: -5px;
    margin-left: 10px;
}

.timeline-comment.current-user .timeline-comment-header {
    background-color: #f1f8ff;
    border-bottom-color: #c0d3eb;
}

.gh-header {
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #d1d5da;
}

.octicon {
    vertical-align: text-bottom;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.repohead h1 .octicon {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    color: #959da5;
}

.timeline-comment-avatar {
    float: left;
    margin-left: -60px;
    border-radius: 3px;
}

.avatar-parent-child {
    position: relative;
}

.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.comment-body {
    width: 100%;
    padding: 15px;
    overflow: visible;
    font-size: 14px;
}

.d-block {
    display: block !important;
}

.previewable-comment-form {
    position: relative;
}

.tabnav {
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #d1d5da;
}

.previewable-comment-form .tabnav {
    position: relative;
    padding: 8px 8px 0;
}

.timeline-new-comment .comment-form-head {
    margin-bottom: 10px;
    padding: 6px 10px 0;
    background: #f6f8fa;
    border-radius: 3px 3px 0 0;
}

.tabnav-tabs {
    margin-bottom: -1px;
}

.tabnav-tab:hover, .tabnav-tab:focus {
    color: #24292e;
    text-decoration: none;
}

.tabnav-tab.selected {
    color: #24292e;
    background-color: #fff;
    border-color: #d1d5da;
    border-radius: 3px 3px 0 0;
}

.tabnav-tab {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #586069;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 0;
}

.previewable-comment-form.write-selected .write-content, .previewable-comment-form.preview-selected .preview-content {
    display: block;
}

.previewable-comment-form .write-content, .previewable-comment-form .preview-content {
    display: none;
    margin: 0 8px 8px;
}

.write-content {
    position: relative;
}

.previewable-comment-form .comment-form-error {
    margin-bottom: 8px;
}

.comment-form-error.comment-form-bottom, .comment-form-stale.comment-form-bottom {
    margin-bottom: 10px;
}

.inline-comment-form .form-actions, .timeline-new-comment .form-actions {
    padding: 0 10px 25px;
}