{% extends "base.html" %}

{% block message %}
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="/static/css/user-profile.css">

<div role="main" class="application-main ">
    <div id="js-pjax-container" data-pjax-container="">
        <div class="container-lg clearfix px-3 mt-4">
            {% block profile-navbar %}
            {% include "./include/profile-navbar.html"%}
            {% endblock %}

            <div class="col-9 float-left pl-2">
                {% block user-profile-navbar %}
                {% include "./include/user-profile-navbar.html"%}
                {% endblock %}

                {% block user-profile-body %}
                {% include "./include/user-profile-body.html"%}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}