<div class="container new-discussion-timeline experiment-repo-nav  ">
    <div class="repository-content ">
        <div class="navigation">
            <div id="blob-path" class="breadcrumbMF">
                <span class="repo-root js-repo-root">
                    <span class="js-path-segment">
                        <a data-pjax="true" href="/{{username}}">
                            <span>{{username}}</span>
                        </a>
                    </span>
                </span>

                <span class="separator">/</span>

                <span class="js-path-segment">
                    <a data-pjax="true" href="/models/{{username}}/{{model_name}}">
                        <span>{{model_name}}</span>
                    </a>
                </span>

                <span class="separator">/</span>

                <strong class="final-path">{{modelfile.filename}}</strong>
            </div>
        </div>

        <div class="file">
            <div class="file-header">
                <div class="file-info">
                    {{modelfile.lines_count}} lines ({{modelfile.sloc_count}} slocs)
                    <span class="file-info-divider"></span>
                    {{modelfile.size | filesizeformat}}
                </div>
            </div>
            <br />

            <div itemprop="text" class="blob-wrapper data">
                <table class="highlight tab-size js-file-line-container">
                    <tbody>
                        {% for line in modelfile.text %}
                        <tr>
                            <td id="L{{ forloop.counter }}" class="blob-num js-line-number" data-line-number="{{ forloop.counter }}">{{ forloop.counter }}</td>
                            <td><pre style="padding:1px;margin:0px;border:0px;background-color:#fff;"><code>{{ line }}</code></pre></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>