<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta itemprop="screenshot" content="http://localhost:7000/home-screenshot-mac-lg.png">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- Bootstrap & JQuery -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body class="home win">
    {# 注释 #}

    {# 头部导航栏 #}
    {% include "./include/header.html"%}
    
    {# 消息栏（默认隐藏） #}
    {% include "./include/message.html"%}

    {# 主题内容 #}
    {% include "./include/main.html"%}

    {# 底部导航栏 #}
    {% include "./include/footer.html"%}
</body>
</html>