<footer role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="left col-md-7">
                <ul class="links">
                    <li>
                        <span class="message">Hello from MachLab.</span>
                    </li>
                    <li>
                        <a href="https://github.com/RichardBrook24/MachLab" aria-hidden="true" onclick="" role="button" tabindex="0">Follow @github</a>
                    </li>
                    <li>
                        <div class="github-star-button">
                            <iframe title="GitHub star button" src="https://ghbtns.com/github-btn.html?user=richardbrook24&amp;repo=MachLab&amp;type=star&amp;count=true" width="130px" height="20px" frameborder="0"></iframe>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right col-md-5">
                <ul class="links">
                    <li><a id="footer-support-link" href="/docs">Docs</a></li>
                    <li><a id="footer-license-link" href="/docs/supporting/faq">FAQ</a></li>
                </ul>
                <div class="copyright">
                    <a id="footer-machlab-link" class="logo" href="">
                        <img class="logo" src="/static/img/logo.png" alt="MachLab homepage" height="20">
                    </a>
                    <span>© 2018 
                        <span itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
                            <span itemprop="name">MachLab</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>