<script>
    $(document).ready(function () {
        document.getElementById('next').value = window.location.href;
    })
</script>

<div class="pagehead repohead instapaper_ignore readability-menu experiment-repo-nav  ">
    <div class="repohead-details-container clearfix container">
        <h1 class="public ">
            <svg class="octicon octicon-repo" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path></svg>
            <span class="author" itemprop="author"><a class="url fn" rel="author" href="/{{username}}">{{username}}</a></span>
            <span class="path-divider">/</span>
            <strong itemprop="name"><a data-pjax="#js-repo-pjax-container" href="/models/{{username}}/{{model.model_name}}">{{model.model_name}}</a></strong>
        </h1>

        <ul class="pagehead-actions">
            <li style="display：inline-block;">
                <form data-autosubmit="true" data-remote="true" class="js-social-container" action="" accept-charset="UTF-8" method="post">
                    {% csrf_token %}
                    <a href="" class="btnIS btnIS-sm btnIS-with-count select-menu-button js-menu-target" role="button" aria-haspopup="true" aria-expanded="true">
                        <span class="js-select-button">
                            <svg class="octicon octicon-eye" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                            Watch
                        </span>
                    </a>
                    <a class="social-count js-social-count" href="" aria-label="{{model.click_count}} users are watching this model">
                    {{model.click_count}}
                    </a>
                </form>
            </li>
            <li>
                <div class="js-toggler-container js-social-container starring-container on">
                    <form class="starred js-social-form" action="/models/{{username}}/{{model.model_name}}/{{star_type}}" accept-charset="UTF-8" method="post">
                        {% csrf_token %}
                        <input name="star_type" value="{{star_type}}" type="hidden" />
                        <input id="next" name="next" value="window.location.href" type="hidden" />
                        {% if star_type == 'unstar' %}
                        <button type="submit" class="btnIS btnIS-sm btnIS-with-count js-toggler-target" aria-label="Unstar this model" title="Unstar">
                            <svg class="octicon octicon-star" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>
                            Unstar
                        </button>
                        {% elif star_type == 'star' %}
                        <button type="submit" class="btnIS btnIS-sm btnIS-with-count js-toggler-target" aria-label="Star this model" title="Star">
                            <svg class="octicon octicon-star" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>
                            Star
                        </button>
                        {% endif %}
                        <a class="social-count js-social-count" href="" aria-label="{{model.star_count}} users starred this model">
                        {{model.star_count}}
                        </a>
                    </form>
                </div>
            </li>
        </ul>
        <div class="col-md-12 column">
            <ul class="nav nav-tabs ">
                <li {% if active == 'files' %} class="active" {% endif %}>
                    <a class="js-selected-navigation-item reponav-item" itemprop="url" data-hotkey="g c" data-selected-links="repo_source repo_downloads repo_commits repo_releases repo_tags repo_branches repo_packages /models/{{username}}/{{model.model_name}}" href="/models/{{username}}/{{model.model_name}}">
                        <svg class="octicon octicon-code" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z"></path></svg>
                        <span itemprop="name">Files</span>
                        <meta itemprop="position" content="1">
                    </a>  
                </li>

                <li {% if active == 'comments' %} class="active" {% endif %}>
                    <a data-hotkey="g p" itemprop="url" class="js-selected-navigation-item selected reponav-item" data-selected-links="repo_pulls checks /models/{{username}}/{{model.model_name}}/comments" href="/models/{{username}}/{{model.model_name}}/comments">
                        <svg class="octicon octicon-issue-opened" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path></svg>
                        <span itemprop="name">Comments</span>
                        <span class="Counter">{{comment_count}}</span>
                        <meta itemprop="position" content="2">
                    </a> 
                </li>

                <li {% if active == 'insights' %} class="active" {% endif %}>
                    <a class="js-selected-navigation-item reponav-item" data-selected-links="repo_graphs repo_contributors dependency_graph pulse /models/{{username}}/{{model.model_name}}/insights" href="/models/{{username}}/{{model.model_name}}/insights">
                        <svg class="octicon octicon-graph" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M16 14v1H0V0h1v14h15zM5 13H3V8h2v5zm4 0H7V3h2v10zm4 0h-2V6h2v7z"></path></svg>
                        Insights
                    </a>
                </li>

                {% if request.user.username == username %}
                <li {% if active == 'settings' %} class="active" {% endif %}>
                    <a class="js-selected-navigation-item reponav-item" data-selected-links="repo_settings repo_branch_settings hooks integration_installations repo_keys_settings issue_template_editor /models/{{username}}/{{model.model_name}}/settings" href="/models/{{username}}/{{model.model_name}}/settings">
                        <svg class="octicon octicon-gear" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path></svg>
                        Settings
                    </a>
                </li>   
                {% endif %}
		    </ul>
        </div>
    </div>
</div>
